#canvas1 {
    position: absolute;
}

#canvas2 {
    position: absolute;
}

.github {
    position: absolute;
    margin-left: 1220px;
}

img {
    width: 30px;
    height: 30px;
}

// button {
//     margin-left: 1250px;
//     margin-top: 200px;
// }


h3 {
    position: absolute;
    margin-left: 1230px;
    margin-top: 180px;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
    width: 120px;
    position: absolute;
    margin-left: 1200px;
    margin-top: 240px;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

li {
    padding-bottom: 30px;
}

